@import url('https://fonts.googleapis.com/css?family=Chivo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Konkhmer+Sleokchher&display=swap');


/* DESKTOP and LAPTOP */
@media only screen 
and (min-width: 961px) {

  body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
    color: #222;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }
  
  /* CONTAINER --- RIGHT - MAIN - LEFT */
  .container {
    margin: 0;
    padding: 0 20px 150px 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .right {
    margin: 0;
    padding: 50px;
  }
  
  .main {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
  }
  
  .left {
    margin: 0;
    padding: 50px;
  }
  
  
  
  /* CONTAINER - MAIN - header */

  .header-modules {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    grid-gap: 35px;
  }
  
  .header-module {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
  }

  .header-module:first-child {
    justify-self: start;
  }

  .header-module:last-child {
    justify-self: end;
  }

  .header {
    margin: 0 0 300px 0;
    padding: 0;
  }
  
  .header-top {
    margin: 0;
    padding: 20px 0 10px 0;
  }
  
  .header-top-left {
    margin: 0;
    padding: 0;
  }
  
  .header-top-right {
    margin: 0;
    padding: 0;
  }
  
  .header-bottom {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  
  /* CONTAINER - MAIN - body */
  
  .body {
    margin: 0 0 200px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .modules {
    margin: 0;
    padding: 0;
    max-width: 1200px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
  }
  
  .modules-one-col {
    grid-template-columns: 1fr !important; 
    grid-gap: 0px !important;
  }
  
  .modules-type-intro {
    margin: 20px 0 225px 0;
    padding: 0;
  }
  
  .module {
    margin: 0 0 50px 0;
    padding: 0;
    max-width: 100%;
    height: auto;
  }
  
  .module-heading {
    margin: 0;
    padding: 0 0 15px 0;
    font-weight: 800;
  }
  
  .module img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
  }
  
  .module-pad-extra {
    margin: 0;
    padding: 0 0 0 50px;
  }

  .module-links {
    margin: 0 0 20px 0;
    padding: 0;
    color: #96969d;
  }
  
  .module-tags {
    margin: 5px 0 5px 0;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    border-width: 0;
    font-size: 12px;
    background-color: #efefef;
    color: #222;
    white-space: nowrap;
  }
  
  .module-credits {
    margin: 0;
    padding: 0;
    font-style: italic;
  }

  .module-label {
    margin: 0;
    padding: 0 0 10px 0;
    font-style: italic;
  }
  
  
  /* CONTAINER - MAIN - footer */
  
  .footer {
    margin: 0;
    padding: 0;
  }
  
   
  /* html tags */
  
  p {
    margin: 0;
    padding: 0 0 20px 0;
  }
  
  ul {
    list-style-position: outside;
    margin: 0;
    padding-left: 40px;
  }
  
  a, a:visited {
    color: #96969d;
    text-decoration: none;
    border-bottom: 1px #96969d dotted;
  }
  
  a:hover {
    color: #222;
    text-decoration: none;
    border-bottom: 1px #222 dotted;
  }
}










/* TABLET */
@media only screen 
  and (min-width: 481px) 
  and (max-width: 960px)  { 


    body {
      margin: 0;
      padding: 0;
      font-family: Helvetica, Arial, sans-serif;
      background-color: white;
      color: #222;
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
    }
    
    
    
    /* CONTAINER --- RIGHT - MAIN - LEFT */
    .container {
      margin: 0;
      padding: 0 20px 150px 20px;
      width: auto;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    
    .right {
      margin: 0;
      padding: 50px;
    }
    
    .main {
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
    }
    
    .left {
      margin: 0;
      padding: 50px;
    }
    
    
    
    /* CONTAINER - MAIN - header */
    
    .header-modules {
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-gap: 35px;
    }
    
    .header-module {
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
    }
    
    .header-module:last-child {
      order: -1; /* Makes the last module appear first */
    }
    
    .header {
      margin: 0 0 300px 0;
      padding: 0;
    }
    
    .header-top {
      margin: 0;
      padding: 20px 0 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .header-top-left {
      margin: 0;
      padding: 0;
    }
    
    .header-top-right {
      margin: 0;
      padding: 0;
    }
    
    .header-bottom {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    
    
    /* CONTAINER - MAIN - body */
    
    .body {
      margin: 0 0 200px 0;
      padding: 0;
      display: flex;
      flex-direction: column;
    }
    
    .modules {
      margin: 0;
      padding: 0;
      width: auto; /* tablet change to auto */
      height: auto;
      display: grid;
      grid-template-columns: 1fr; /* tablet change to 1fr */
      grid-template-rows: auto;
      grid-gap: 35px;
    }
    
    .modules-one-col {
      grid-template-columns: 1fr !important; 
      grid-gap: 0px !important;
    }
    
    .modules-type-intro {
      margin: 20px 0 225px 0;
      padding: 0;
    }
    
    .module {
      margin: 0 0 50px 0;
      padding: 0;
      width: auto;  /* tablet change regular width and auto */
      height: auto;
    }
    
    .module-heading {
      margin: 0;
      padding: 0 0 15px 0;
      font-weight: 800;
    }
    
    .module img {
      margin: 0;
      padding: 0;
      width: 100%; /* tablet change regular width and auto */
      height: auto;
    }
    
    .module-links {
      margin: 0 0 20px 0;
      padding: 0;
      color: #96969d;
    }
    
    .module-tags {
      margin: 5px 0 5px 0;
      padding: 5px 15px 5px 15px;
      border-radius: 20px;
      border-width: 0;
      font-size: 12px;
      background-color: #efefef;
      color: #222;
      white-space: nowrap;
    }
    
    .module-label {
      margin: 0;
      padding: 0 0 10px 0;
      font-style: italic;
    }
    
    .module-credits {
      margin: 0;
      padding: 0;
      font-style: italic;
    }

    /* CONTAINER - MAIN - footer */
    
    .footer {
      margin: 0;
      padding: 0;
    }


    /* html tags */
  
    p {
      margin: 0;
      padding: 0 0 20px 0;
    }
    
    ul {
      list-style-position: outside;
      margin: 0;
      padding-left: 40px;
    }
    
    a, a:visited {
      color: #96969d;
      text-decoration: none;
      border-bottom: 1px #96969d dotted;
    }
    
    a:hover {
      color: #222;
      text-decoration: none;
      border-bottom: 1px #222 dotted;
    }

}










/* SMARTPHONE */
@media only screen 
  and (max-width: 480px) { 


    body {
      margin: 0;
      padding: 0;
      font-family: Helvetica, Arial, sans-serif;
      background-color: white;
      color: #222;
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
    }
    
    
    /* CONTAINER --- RIGHT - MAIN - LEFT */
    .container {
      margin: 0;
      padding: 0 20px 150px 20px;
      width: auto;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    
    .right {
      margin: 0;
      padding: 5px; /* smartphone change */
    }
    
    .main {
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
    }
    
    .left {
      margin: 0;
      padding: 5px; /* smartphone change */
    }
    
    
    
    /* CONTAINER - MAIN - header */
    
    .header-modules {
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-gap: 35px;
    }
    
    .header-module {
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
    }
    
    .header-module:last-child {
      order: -1; /* Makes the last module appear first */
    }

    .header {
      margin: 0 0 400px 0; /* smartphone change */
      padding: 0;
    }
    
    .header-top {
      margin: 0;
      padding: 20px 0 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .header-top-left {
      margin: 0;
      padding: 0;
    }
    
    .header-top-right {
      margin: 0;
      padding: 0;
    }
    
    .header-bottom {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    
    
    /* CONTAINER - MAIN - body */
    
    .body {
      margin: 0 0 200px 0;
      padding: 0;
      display: flex;
      flex-direction: column;
    }
    
    .modules {
      margin: 0;
      padding: 0;
      width: auto; /* smartphone change to auto */
      height: auto;
      display: grid;
      grid-template-columns: 1fr; /* smartphone change to 1fr */
      grid-template-rows: auto;
      grid-gap: 35px;
    }
    
    .modules-one-col {
      grid-template-columns: 1fr !important; 
      grid-gap: 0px !important;
    }
    
    .modules-type-intro {
      margin: 20px 0 225px 0;
      padding: 0;
    }
    
    .module {
      margin: 0 0 50px 0;
      padding: 0;
      width: auto;  /* smartphone change regular width and auto */
      height: auto;
    }
    
    .module-heading {
      margin: 0;
      padding: 0 0 15px 0;
      font-weight: 800;
    }
    
    .module img {
      margin: 0;
      padding: 0;
      width: 100%; /* smartphone change regular width and auto */
      height: auto;
    }
    
    .module-links {
      margin: 0 0 20px 0;
      padding: 0;
      color: #96969d;
    }
    
    .module-tags {
      margin: 5px 0 5px 0; /* smartphone change */
      padding: 8px 18px 8px 18px; /* smartphone change */
      border-radius: 20px;
      border-width: 0;
      font-size: 1.4em; /* smartphone change */
      background-color: #efefef;
      color: #222;
      white-space: nowrap;
    }

    .module-credits {
      margin: 0;
      padding: 0;
      font-style: italic;
    }

    .module-label {
      margin: 0;
      padding: 0 0 10px 0;
      font-style: italic;
    }
    
    
    /* CONTAINER - MAIN - footer */
    
    .footer {
      margin: 0;
      padding: 0;
    }


    /* html tags */
  
    p {
      margin: 0;
      padding: 0 0 20px 0;
    }
    
    ul {
      list-style-position: outside;
      margin: 0;
      padding-left: 40px;
    }
    
    a, a:visited {
      color: #96969d;
      text-decoration: none;
      border-bottom: 1px #96969d dotted;
    }
    
    a:hover {
      color: #222;
      text-decoration: none;
      border-bottom: 1px #222 dotted;
    }

}










/* SMARTPHONE */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 


    body {
      margin: 0;
      padding: 0;
      font-family: Helvetica, Arial, sans-serif;
      background-color: white;
      color: #222;
      -webkit-font-smoothing: antialiased;
      font-size: 1.4em; /* smartphone change */
      font-weight: 400;
      line-height: 1.5;
    }
    
    
    
    /* CONTAINER --- RIGHT - MAIN - LEFT */
    .container {
      margin: 0;
      padding: 0 20px 150px 20px;
      width: auto;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    
    .right {
      margin: 0;
      padding: 15px; /* smartphone change */
    }
    
    .main {
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
    }
    
    .left {
      margin: 0;
      padding: 15px; /* smartphone change */
    }
    
    
    
    /* CONTAINER - MAIN - header */
    
    .header {
      margin: 0 0 400px 0; /* smartphone change */
      padding: 0;
    }
    
    .header-top {
      margin: 0;
      padding: 20px 0 10px 0;
      font-size: 1.4em; /* smartphone change - added */
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .header-top-left {
      margin: 0;
      padding: 0;
    }
    
    .header-top-right {
      margin: 0;
      padding: 0;
    }
    
    .header-bottom {
      margin: 0;
      padding: 0;
      font-size: 1.4em; /* smartphone change - added */
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    
    
    /* CONTAINER - MAIN - body */
    
    .body {
      margin: 0 0 200px 0;
      padding: 0;
      display: flex;
      flex-direction: column;
    }
    
    .modules {
      margin: 0;
      padding: 0;
      width: auto; /* smartphone change to auto */
      height: auto;
      display: grid;
      grid-template-columns: 1fr; /* smartphone change to 1fr */
      grid-template-rows: auto;
      grid-gap: 35px;
    }
    
    .modules-one-col {
      grid-template-columns: 1fr !important; 
      grid-gap: 0px !important;
    }
    
    .modules-type-intro {
      margin: 20px 0 225px 0;
      padding: 0;
    }
    
    .module {
      margin: 0 0 50px 0;
      padding: 0;
      width: auto;  /* smartphone change regular width and auto */
      height: auto;
    }
    
    .module-heading {
      margin: 0;
      padding: 0 0 15px 0;
      font-weight: 800;
    }
    
    .module img {
      margin: 0;
      padding: 0;
      width: 100%; /* smartphone change regular width and auto */
      height: auto;
    }
    
    .module-links {
      margin: 0 0 20px 0;
      padding: 0;
      color: #96969d;
    }
    
    .module-tags {
      margin: 5px 0 5px 0; /* smartphone change */
      padding: 8px 18px 8px 18px; /* smartphone change */
      border-radius: 20px;
      border-width: 0;
      font-size: 1.4em; /* smartphone change */
      background-color: #efefef;
      color: #222;
      white-space: nowrap;
    }
    
    .module-credits {
      margin: 0;
      padding: 0;
      font-style: italic;
    }

    .module-label {
      margin: 0;
      padding: 0 0 10px 0;
      font-style: italic;
    }
    
    
    /* CONTAINER - MAIN - footer */
    
    .footer {
      margin: 0;
      padding: 0;
    }


    /* html tags */
  
    p {
      margin: 0;
      padding: 0 0 20px 0;
    }
    
    ul {
      list-style-position: outside;
      margin: 0;
      padding-left: 40px;
    }
    
    a, a:visited {
      color: #96969d;
      text-decoration: none;
      border-bottom: 1px #96969d dotted;
    }
    
    a:hover {
      color: #222;
      text-decoration: none;
      border-bottom: 1px #222 dotted;
    }

}









