@import url('https://fonts.googleapis.com/css?family=Chivo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Konkhmer+Sleokchher&display=swap');


@media only screen and (min-width: 813px) {

  .projects {
    grid-template-columns: 1fr 1fr;
  }

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

  body {
    font-size: 1.5em !important;
  }
  .navbar {
    font-size: 1.5em !important;
  }

  .projects {
    grid-template-columns: 1fr;
    font-size: 1.5em !important;
  }

}


html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
  color: #222;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.5;
}

p {
  margin: 0;
  padding: 0 0 20px 0;
}

a, a:visited {
  color: #96969d;
  text-decoration: none;
  border-bottom: 1px #96969d dotted;
}

a:hover {
  color: #222;
  text-decoration: none;
  border-bottom: 1px #222 dotted;
}





.container {
  margin: 0;
  padding: 0 20px 150px 20px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

.navbar {
  margin: 0;
  padding: 20px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-bottom {
  margin: 0;
  padding: 0 0 200px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro {
  margin: 0;
  padding: 0 0 50px 0;
  max-width: 1200px;
}




.projects {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  height: auto;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 30px;
}





.project-info {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  height: auto;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 30px;
}

.project {
  margin: 0;
  padding: 0 0 25px 0;
  max-width: 600px;
  height: auto;
}

.project img {
  margin: 6px 0 0 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.project-info {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.project-top {
  background-color: #efefef;
}


.tags {
  margin: 5px 0 5px 0;
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  border-width: 0;
  font-size: 12px;
  background-color: #efefef;
  color: #222;
  white-space: nowrap;
}
 
ul {
  list-style-position: outside;
  margin: 0;
  padding-left: 40px;
}

.heading {
  margin: 0;
  padding: 0 0 15px 0;
  font-weight: 800;
}

  